.divTable{
	display: table;
	width: 100%;
	border-spacing:10px;
}
.divTableRow {
	<!--display: table-row;-->
	margin-top:50px;
	vertical-align:middle; 
	text-align:center;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
