     .navbar {
        margin-top:0px;
       
        background-color: #333;
         
        }
.column{
    width: 80%;
    margin:auto;
    background-color:#FFFFFF;
    padding-bottom:50px;
}
     
     
}
#inner{
margin:0 auto;
min-width:1000px;
max-width:1000px;
          
}
#outer{
     margin:0 auto;
     width:100%
     }
.navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }
body {
     width:100%;
     margin:0px;
     padding:0px;
     height:100%;
     min-height:100%;
     background-color:#f4f6f9;
     }
html,body{ height:100%; margin:0; }


footer{
  margin-top:auto; 
}
/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}
     .navbar a:hover {
        background-color: #ddd;
        color: black;
        } 
    .navbar a.active {
        background-color: rgb(0,9,26);
        color: white;
        }
    nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    }
    nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
 }

.a {
    text-decoration: none;
    color: #999;
}
.a:hover {
    text-decoration: underline;
}
.h1 {
    font-size: 3em;
    font-family: Helvetica, Arial, Sans-Serif;
}
.text{
     font-size: x-large;
     font-family: Arial, Helvetica, sans-serif;
}
footer{
     font-size: small;
     font-family: Arial, Helvetica, sans-serif;
     
.centertext{
     text-align:center;
     }
     
}
.footer-block{
     background-color:#333;
     color:#FFFFFF;
     text-align: center;
     
     padding-top:10px;
     padding-bottom:10px;
     margin-left:auto;
     margin-right:auto;
     margin-bottom:0px;
}
a.footer:visited{
     color:#0366d6;
}
a.footer:link{
     color:#0366d6;
}
.maintitle{
          background-color: rgb(0, 9, 26);
          padding: 40px;
          color: white;
          font-family: monospace;
 }
.privacypolicy{
font-family:Arial;
     padding:30px;
}
