.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.container {
    position: relative;
    text-align: center;
    
    
}

.gamesbutton:hover {
    background-color: white;
    color: white;
}
.gamesbutton {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid #555555;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
